# =========================
# ENV FILES (IMPORTANT)
# =========================
.env
.env.local
.env.*.local

# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# BUILD FILES
# =========================
dist/
build/

# =========================
# VITE CACHE
# =========================
.vite/

# =========================
# LOG FILES
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp